*{
    margin:0px;
    padding: 0px;
}

header {
   
    text-align: center;
    padding: 50px;
    
}

body{
    background-image: url(/img/823751.jpg) ;
    background-size:100% ;
    background-attachment:fixed ;


}



nav{

    
    width: 290px;
    height: 570px;
    float: left;
    padding-left: 20px;
    padding-top: 20px;  
}

h2{
    color: green; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width:260px;
    line-height: 200%;
}


ul{
    list-style: none;
    line-height: 200%;
    text-align: center;
    width:260px;
}

nav a{

    text-decoration: none;
    color: black;
    font-size: 18px;

}

section{

    
    width:1300px;
    height: 550px;
    margin-left: 310px;
    padding: 20px;
    justify-content: center;
   
}

section p{
    font-style: oblique;
    color: red;

     
}


section h3 {
    width: 60px;
}

section article{

    background-color: burlywood;
    border: 1px solid black;
}


section .arti1 {
    width: 500px;
    position: relative;
    left:390px;
    padding: 5px;
    bottom: 30px;
}

.arti1 img{
    float: right;
}

section .arti2 {
   
    width: 500px;
    position:absolute;
    left: 550px;
    padding: 5px;
    top: 340px;
}

.arti2 img{
    float: left;
}

section .arti3 {
   
    width: 500px;
    position: relative;
    top: 180px;
    left: 40px;
    padding: 5px;
}
.arti3 img{
    float: right;
}

article img{
    width: 150px;
    padding: 5px;
    margin: 2px;
    background-color: rgb(157, 41, 202);
}

article img:hover{
    border: 1px solid;
    box-shadow: 5px 10px;
    transition: 2s;
}

.anunci{
    width: 250px;
    height: 105px;
    position: fixed;
    top: 40px;
    left: 40px;
    background-color: burlywood;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}


.icon{
    width: 250px;
    height: 105px;
    background-image: url(/img/log.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.missganxo{
    width: 250px;
    position: absolute;
    bottom: 1px;
    display: none; 
}

.icon:hover {

    height: 80px;
    transition: ease-in;
    display: block;
}


.icon:hover div.missganxo{
   display: block;
}


aside{
    width: 268px;
    height: 570px;
    padding-top: 20px;
    float: right;
    margin-top: -590px;

}

.alogo{
    background-image: url(/img/21599.jpg);
    border: 1px solid black;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    height: 200px; 
    width: 250px;
}


.atext{
    opacity: 0;
    height: 200px; 
    width: 250px;
    background-color: rgb(58, 58, 184);
}

.alogo:hover div.atext{
    opacity: 1;
    transition:  1s;
}



footer{
    background-color: rgb(0, 0, 0);
    padding: 6px 10px 10px 5px;
    color: white;
    padding: 20px;
}
